/* REFACTOR TO SASS*/


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#header {
  margin: 20px 0;
}

#header-textbox {
  width: 50%;
  background-color: #f7f7f7;
  margin: 0 auto;
  text-align: center;
  padding: 5px;
}

button {
  display: inline-block;
  margin: 10px auto;
  background-color: #2ECC40;
  border: 1px solid transparent;
  padding: 10px 20px;
  cursor: pointer;
  color: #fff;
  border-radius: 3px;
}

button:hover {
  background-color: #fff;
  color: #2ECC40;
  border: 1px solid #2ECC40;
}

h1 {
  font-weight: 300;
  font-size: 32px;
  margin: 10px 0;
}

input {
  display: block;
  margin: 0 auto;
  width: 150px;
  border: none;
  border-bottom: 3px solid transparent;
  padding: 10px;
  outline: none;
  transition: all .3s;
}

input:focus {
  border-bottom: 3px solid #FF851B;
}

input:valid {
  border-bottom: 3px solid #2ECC40;
}

#list {
  list-style: none;
  background-color: #f7f7f7;
  width: 50%;
  margin: 30px auto;
  text-align: center;
  border-radius: 3px;
  box-shadow: 0 10px 15px rgba(black, .15);
}

.item {
  background-color: #fff;
  display: inline-block;
  width: 100px;
  height: 100px;
  text-align: center;
  border-radius: 3px;
  margin: 15px;
  padding: 5px;
 /*  border: 1px solid #eee; */
  color: #444;
  letter-spacing: 1px;
  text-shadow: 0 2px 12px #222;
  font-weight: 600;
  box-shadow: 0px 5px 20px rgba(0,0,0,0.2);
}
