/* REFACTOR TO SASS*/

* {
  margin: 0;
  padding: 0;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

h1 {
  font-weight: 300;
  font-size: 40px;
  letter-spacing: 2px;
  margin: 20px 0;
  text-transform: uppercase;
}

#header {
  margin: 30px 0;
  // display: none;

  &__textbox {
    width: 50%;
    border-radius: 3px;
    background-color: #ddd;
    margin: 0 auto;
    text-align: center;
    padding: 5px;
    position: relative;
  }
}


#expanded-color {
  background-color: red;
  width: 100%;
  height: 100vh;
  position: relative;
  display: none;
  text-align: center;
  color: #fff;



  &__text-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    & > *:not(:last-child) {
      margin-bottom: 1.7rem;
    }
  }

  &__text {
    font-size: 4rem;
  }

  #exitmessage {
    display: block;
  }

  #copied-text {
    text-align: center;
    box-shadow: 0 1rem 2rem rgba(black, .2);
    margin: 2rem auto;
    width: 80%;
    padding: 1rem 0;
    font-size: 1.4rem;
  }

  #btn-copy {
    background-color: #eee;
    color: #888;
    font-weight: 100;
    &:hover {
      border: 1px solid #888;
    }

    &:active {
      box-shadow: 0 5px 10px rgba(black, .6);
      transform: scale(1);
    }
  }
}


// #expanded-color__text {
//   font-size: 4rem;
//   color: #fff;
//
// }


#exitmessage {
  font-size: 16px;
  text-transform: uppercase;
}

.popup {
  background-color: #fff;
  padding: 10px;
  transition: all 0.2s;
  opacity: 0;
  position: absolute;
  left: 8%;
}

.copy-text {
  width: 300px;
  height: 80px;
  position: absolute;
  // top: 50%;
  // left: 50%;
  // transform: translate(-50%, -50%);
  left: -99999px;
  display: none;
}


#itemcount {
  margin: 10px 0;
  font-size: 20px;
}

button {
  display: inline-block;
  margin: 15px;
  background-color: #2ecc40;
  border: 1px solid transparent;
  padding: 12px 24px;
  cursor: pointer;
  color: #fff;
  border-radius: 3px;
  font-size: 16px;
  transform: scale(1);
  transition: all 0.2s;
  box-shadow: 0 5px 5px rgba(black, 0.3);

  &:hover {
    background-color: #fff;
    color: #2ecc40;
    border: 1px solid #2ecc40;
    transform: scale(1.1);
    transition: all 0.2s;
    box-shadow: 0 10px 10px rgba(black, 0.2);
  }
}

#btn__save {
  background-color: red;

  &:hover {
    color: red;
    border: 1px solid red;
    background-color: #fff;
  }
}

input {
  background-color: #f0eeee;
  display: block;
  margin: 20px auto;
  width: 262px;
  border: none;
  border-bottom: 3px solid transparent;
  padding: 10px;
  outline: none;
  transition: all 0.3s;

  &:focus {
    border-bottom: 3px solid #ff851b;
  }

  &:valid {
    border-bottom: 3px solid #2ecc40;
  }
}

#list {
  list-style: none;
  background-color: #ddd;
  width: 50%;
  margin: 30px auto;
  text-align: center;
  border-radius: 3px;
  box-shadow: 0 10px 15px rgba(black, 0.15);
  // display: none;
}

.item-wrapper {
  position: relative;
  display: inline-block;
}

.item {
  background-color: #fff;
  display: inline-block;
  width: 150px;
  height: 150px;
  text-align: center;
  border-radius: 3px;
  margin: 15px;
  padding: 5px;
  color: #444;
  letter-spacing: 1px;
  text-shadow: 0 2px 12px #222;
  font-size: 16px;
  font-weight: 600;
  box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.2);
  transform: scale(1);
  transition: all 0.3s;

  &:hover {
    transform: scale(1.05);
    transition: all 0.3s;
  }

  &__color {
  }
}

.crossout {
  position: absolute;
  top: -9px;
  right: -9px;
  font-size: 12px;
  padding: 7px 10px;
  border-radius: 1px;
  background-color: #fff;
  display: inline-block;
  border: 1px solid #ccc;
  color: #222;
  background-color: #eee;
  transform: scale(1.1);
  transition: all 0.4s;
  box-shadow: none;

  &:hover {
    color: red;
    border: 1px solid red;
    border-radius: 50%;
    transform: scale(1.7) rotate(-180deg);
    transition: all 0.4s;
    box-shadow: none;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  50% {
    opacity: .5;
  }

  100% {
    opacity: 1;
  }
}
